* {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      background: #f2f2f2;
      padding: 20px;
    }

    .card {
      
      width: 100%;
      max-width: 400px;    
      padding: 30px 25px;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0 8px 30px rgba(0,0,0,.15);
      background-image: url('img/GatoBarato200x400.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   
    }

    h1 {
      color: black;
      margin-top: 0;
      font-size: 30px;
    }

    .number {
      margin: 25px 0;
      padding: 18px 10px;
      background: #f5f5f5;
      border-radius: 12px;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 2px;
      word-break: break-all;
    }

    button {
      width: 100%;
      padding: 15px;
      border: 0;
      border-radius: 12px;
      background: #222;
      color: white;
      font-size: 17px;
      font-weight: bold;
      cursor: pointer;
    }

    button:active {
      transform: scale(.98);
    }

    #mensaje {
      margin-top: 15px;
      color: #d6c316;
      font-weight: bold;
      min-height: 20px;
    }

    .qr {
      margin-top: 30px;
    }

    .qr img {
      width: 150px;
      height: 150px;
      max-width: 100%;
    }

    .aviso {
      font-weight: bold;
      margin-top: 20px;
      font-size: 16px;
      color: #9c0a0a;
    }
    .aviso1 {
      font-weight: bold;
      margin-top: 15px;
      font-size: 28px;
      color: #11044b;
    }
